html {
    min-width: 678px;
    max-width: 1440px;
    margin: auto;
    overflow-x: hidden;
}

header {
    max-width: 1440px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}



/* misc */
.orange-box {
    background-color: #ffb034;
    color: white;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    min-width: 200px;
    max-width: 250px;
    min-height: 42px;
    max-height: 50px;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

a {
    color: inherit;
}





/* Forms */
#HeroForm, .bottom-form {
    background-color: #fafaf4;
    width: 90%;
    margin: auto;
    padding: 15px;
    color: black;
    text-align: center;
    max-width: 750px;
    z-index: 2;
}

#HeroForm {
    border-radius: 10px;
    /* margin-top: -40px; */
    /* margin-bottom: 20px; */
}

.form-inputs {
    margin: 15px auto 0;
    max-width: 420px;
}

::placeholder {
    color: #333 !important;
    opacity: 1;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
}

.form-control {
    margin: 20px 5% 0 5%;
    width: 90%;
}

.tcpa {
    margin: 10px auto;
    max-width: 390px;
    color: black;
}

.tcpa #text {
    display: block;
    padding: 0 15px;
}





/* header styling */
header {
    padding: 25px 25px 15px;
    background-color: inherit;
}

#lawncare {
    /* padding-bottom: 25px; */
}

.phone-advert {
    float: right;
    display: flex;
    margin-top: 15px;
}

#header-phone {
    display: inline-flex;
    padding-left: 10px;
    padding-top: 8px;
}

.top-phone-cta {
    display: inline-flex;
    margin: 0;
    padding-right: 10px;
    color: #00703c;
    font-size: 1.3em;
    font-weight: 600;
}



/* hero styling */

.truGreen-hero {
    background-image: url('../images/desktop-images/Hero\ Img.png');
    padding-bottom: 120px;
    padding-top: 50px;
    position: relative;
}

#service-tech {
    position: absolute;
    bottom: -4.5%;
    right: -2%;
}

.hero-text {
    background-color: #73c573;
    color: white;
    position: absolute;
    top: 5px;
    left: 217px;
    font-weight: 600;
}

#hero-cta {
    color:#ffb034;
    font-size: 1.5em;
}

.hero p {
    font-size: 1.2em;
    width: 80%;
    margin: auto;
}





/* green banner section */

.green-banner {
    background-color: #73c573;
    display: inline-flex;
    width: 100%;
    padding: 20px;
    align-content: center;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 50px;
}

.green-banner h4 {
    display: inline-block;
}

.green-banner img {
    position: relative;
    bottom: 5px;
}





/* tree and shrub services */
#tree-shrub {
    float: left;
}

.shrub-services img {
    vertical-align: bottom;
    display: inline-block;
    /* transform: scale(1.25, 1.25); */
    /* margin: 20px auto; */
}

#tree {
    margin-left: 30px;
    margin-right: -130px;
    width: 20vw;
}

#shrub {
    position: relative;
    bottom: -120px;
    left: -25px;
    width: 15vw;
}

#shrub-services {
    display: inline-block;
    color: #00703c;
    margin-left: -70px;
    margin-top: 0;
    font-size: 3em;
    font-weight: 600;
}

.shrub-services p {
    width: 95%;
    margin-left: -20px;
}

.shrub-services h3 {
    color: #00703c;
    text-align: center;
    margin: 30px;
    font-weight: 600;
}

.cards .col-xs-8 {
    display: inline-flex;
    justify-content: space-around;
}

.card {
    background-color: #eff0ef;
    width: 19%;
    min-height: 120px;
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
}



/* desktop cta */

.desktop-cta {
    display: block;
    margin: 5% auto 40px;
    font-size: 1.5em;
    line-height: 250%;
}



/* mobile banner */
.mobile-banner {
    background-image: url("../images/desktop-images/App\ Bar.png");
    background-position: center;
    color: white;
    white-space: nowrap;
}

.mobile-banner .row {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
}

.mobile-banner h4 {
    margin-right: -10%;
    font-weight: 600;
}





/* plans */

.plans {
    margin: auto;
}

.plans h4 {
    text-align: center;
    margin: 50px auto 80px;
    color: #00703c;
    font-weight: 700;
}

.plans .row {
    display: flex;
    justify-content: center;
}

.plan-cards {
    min-height: 550px;
    min-width: 220px;
    height: auto;
    border-radius: 3%;
    width: 28%;
    text-align: left;
    padding: 20px 40px;
    margin: 25px -10px;
    box-shadow: 5px 5px 15px #888;
    background-color: #f7f7f7;
}

#center-plan {
    background-color: #e9f9ee;
    margin-top: -20px;
    padding-top: 0;
    height: calc(100% - 20px);
    z-index: 3;
}

#popular {
    background-color: #73c573;
    color: white;
    font-size: 1.5em;
    padding: 5px 25px;
    position: relative;
    top: -15px;
    left: 50px;
    white-space: nowrap;
}






/* Bottom section */

.bottom {
    margin-top: 30px;
}

.bottom-form {
    /* margin: 3%; */
    padding: 10px;
    background-color: white;
    max-width: 66%;
}

#bottom-form-cta {
    color: #00703c;
    font-size: 1.7em;
}

.bottom-form-inputs {
    background-color: #eff0ef;
}

.bottom-form .form-inputs {
    margin-top: 15px;
    max-width: none;
}


.bottom-form .tcpa {
    padding-left: 0;
}

.bottom-submit {
    width: 100%;
    max-width: none;
    margin-right: 5%;
    margin-top: 5%;
}

.phone-cta {
    font-size: 1.1em;
    font-weight: 600;
}

#exclamation {
    color: #ffb034;
    font-size: 3rem;
}

.bottom-form .tcpa {
    color: #888;
}

.bottom .col-xs-4 {
    text-align: center;
    margin-top: 40px;
}

.bottom .col-xs-4 img, .bottom .col-xs-4 h4 {
    display: inline-block;
    font-size: 3vw;
}

.bottom .col-xs-4 p {
    font-size: 1.3em;
    margin: 20px auto 10px;
}

#bottom-logo {
    width: 100%;
}







/* max values */

@media only screen and (min-width: 1440px) {
    .bottom .col-xs-4 img, .bottom .col-xs-4 h4 {
        font-size: 3em;
    }
}