html {
    min-width: 678px;
    max-width: 1440px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}



/* misc */
.orange-box {
    background-color: #ffb034;
    color: white;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    min-width: 200px;
    max-width: 250px;
    min-height: 42px;
    max-height: 50px;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

a {
    color: inherit;
}





/* Forms */
#HeroForm, .bottom-form {
    background-color: #fafaf4;
    width: 90%;
    margin: 15px auto;
    padding: 15px;
    color: black;
    text-align: center;
    max-width: 580px;
    z-index: 2;
}

#HeroForm {
    border-radius: 10px;
    /* margin-top: -40px; */
    /* margin-bottom: 20px;n */
}

.form-inputs {
    margin: 15px auto 0;
    max-width: 420px;
}

::placeholder {
    color: #333 !important;
    opacity: 1;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
}

.form-control {
    margin: 20px 5% 0 5%;
    width: 90%;
}

.tcpa {
    margin: 10px auto;
    max-width: 390px;
}

.tcpa #text {
    display: block;
    padding: 0 15px;
}





/* header styling */
.phone-advert {
    float: right;
}




/* hero styling */






/* green banner section */

.green-banner {
    background-color: #73c573;
    display: inline-flex;
    width: 100%;
    padding: 20px;
    align-content: center;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 50px;
}

.green-banner h4 {
    display: inline-block;
}

.green-banner img {
    position: relative;
    bottom: 5px;
}





/* tree and shrub services */
#tree-shrub {
    float: left;
}

.shrub-services img {
    vertical-align: bottom;
    display: inline-block;
    /* transform: scale(1.25, 1.25); */
    /* margin: 20px auto; */
}

#tree {
    margin-left: 30px;
    margin-right: -130px;
}

#shrub {
    position: relative;
    bottom: -120px;
    left: -25px;
}

#shrub-services {
    display: inline-block;
    color: #00703c;
    margin-left: -70px;
    margin-top: 0;
    font-size: 3em;
    font-weight: 600;
}

.shrub-services p {
    width: 95%;
    margin-left: -20px;
}

.shrub-services h3 {
    color: #00703c;
    text-align: center;
    margin: 30px;
    font-weight: 600;
}

.cards .col-xs-8 {
    display: inline-flex;
    justify-content: space-around;
}

.card {
    background-color: #eff0ef;
    width: 19%;
    height: 120px;
    display: inline-block;
    text-align: center;
    padding: 10px;
}



/* desktop cta */

.desktop-cta {
    display: block;
    margin: 80px auto 40px;
}



/* mobile banner */
.mobile-banner {
    background-image: url("../images/desktop-images/App\ Bar.png");
    color: white;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-content: center; */
    /* justify-content: space-around; */
    white-space: nowrap;
}

.mobile-banner .row {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
}

.mobile-banner h4 {
    margin-right: -25%;
    font-weight: 600;
}





/* plans */

.plans {
    margin: auto;
}

.plans h4 {
    text-align: center;
    margin: 50px;
    color: #00703c;
    font-weight: 700;
}

.plans .row {
    display: flex;
    justify-content: center;
}

.plan-cards {
    height: 550px;
    border-radius: 3%;
    width: 28%;
    text-align: left;
    padding: 20px 40px;
    margin: 25px -10px;
    box-shadow: 5px 5px 15px #888;
}

#center-plan {
    background-color: #e9f9ee;
    margin-top: -30px;
    z-index: 3;
}