html {
    min-width: 320px;
    max-width: 678px;
    margin: auto;
}

body {
    min-width: 320px;
    max-width: 678px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}




/* misc */
.orange-box {
    background-color: #ffb034;
    color: white;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    min-width: 200px;
    max-width: 250px;
    min-height: 42px;
    max-height: 50px;
    border-radius: 5px;
    font-size: 1.5em;
}

.phone-icon {
    display: inline;
    padding: 0 10px 10px 0;
}

.phone-number {
    font-weight: 400;
}

a {
    color: inherit;
}






/* Header styles */
header {
    margin: auto;
    max-width: 678px;
}

.logo {
    width: 48%;
    padding: 2%;
    margin: auto;
}

#lawncare {
    padding-top: 5%;
}

#header-phone {
    max-width: none;
    max-height: none;
    width: 90% !important;
    text-align: center;
}

.phone-advert {
    margin-bottom: 10px;
    font-size: min(4vw, 1em);
}

.top-phone-number {
    margin: 0;
    font-size: 2em;
    margin: -5px 0 0 0;
}

.top-phone-number img {
    transform: scale(1.25, 1.25);
    padding-right: 15px
}

.top-phone-cta {
    font-size: 1.25em;
    margin: auto;
    font-weight: 500;
}






/* Hero section */
#hero-cta {
    color: #febb5a;
    font-size: min(4vw, 2em);
}

.hero {
    background-image: url("../images/mobile-images/Hero\ Img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #73c573;
    padding-bottom: 5%;
    padding-top: 40%;
}

.hero img {
    width: 100%;
}

.hero-text {
    color: white;
    background-color: #73c573;
    z-index: 3;
    margin: -25px auto 10px;
    font-size: min(4vw, 1.75em);
    font-weight: 600;
}






/* Forms */
#HeroForm, .bottom-form {
    background-color: #fafaf4;
    width: 90%;
    margin: 15px auto;
    padding: 15px;
    color: black;
    text-align: center;
    max-width: 580px;
    z-index: 2;
}

#HeroForm {
    border-radius: 10px;
}

.form-inputs {
    margin: 15px auto 0;
    max-width: 420px;
}

::placeholder {
    color: #002f47 !important;
    opacity: 1;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
}

.form-control {
    margin: 20px 5% 0 5%;
    width: 90%;
}

.tcpa {
    margin: 10px auto;
    max-width: 390px;
    color: black;
}

.tcpa #text {
    display: block;
    padding: 0 15px;
}







/* Tree and Shrub services */

.shrub-services {
    padding: 10px;
}

.shrub-services h3 {
    text-align: center;
    color: #006f3b;
    font-weight: 600;
}

.shrub-services img {
    vertical-align: bottom;
    display: inline-block;
    transform: scale(1.25, 1.25);
    margin: 20px auto;
}

#tree-shrub {
    margin: auto;
    text-align: center;
}

#tree {
    z-index: 1;
}

#shrub {
    z-index: 2;
}

.card {
    background-color: #eff0ef;
    /* width: 40%; */
    height: 120px;
    margin-bottom: 10px;
    padding: 12px;
    text-align: center;
}








/* Mobile CTA */

.mobile-cta {
    text-align: center;
    margin: auto;
    font-size: 1.25em;
}







/* plans */
.plans {
    margin: auto;
}

.plans h5 {
    text-align: center;
    color: #006f3b;
    font-size: clamp(1.1em, 3vw, 2em);
    font-weight: 700;
    margin-bottom: 40px;
}


.plans td {
    background-color: #eff0ef;
    padding: 10px;
    margin: 5px;
}

.sideways {
    transform-origin: 0 50%;
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    left: -15%;
    bottom: 55px;
    white-space: nowrap;
    background-color: #eff0ef;
}

.plan-column {
    background-color: #eff0ef;
    margin: 0 4%;
    text-align: center;
    font-size: min(3.3vw, 1.6em);
    padding: 10px;
}

#popular {
    position: absolute;
    top: -40%;
    left: -40%;
    background-color: #73c573;
    color: white;
    font-style: italic;
    font-size: 0.85em;
    font-weight: 600;
}






/* Bottom form */
.bottom-form {
    width: 100%;
    margin: 25px auto 0;
    padding: 10px;
    max-width: none;
    background-color: #73c573;
    color: white;
}

.bottom-form h2 {
    font-size: min(10vw, 5em);
}

.bottom-form h4 {
    font-size: min(5vw, 3em);
}

.phone-cta {
    font-size: 1.1em;
    font-weight: 600;
}

#tcpa2 {
    color: white;
}
